<div class="text-center">
    <h1>Events</h1>

    <a asp-area="" asp-controller="Guest" asp-action="index" role="button" class="btn btn-primary btn-lg btn-block" style="color: black; background-color: transparent">
        <h1>
            View All Historic Guests
        </h1>
    </a>
    <a asp-area="" asp-controller="Event" asp-action="index" role="button" class="btn btn-primary btn-lg btn-block" style="color: black; background-color: transparent">
        <h1>
            Events
        </h1>
    </a>
</div>