@using System
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The time is @DateTime.Now.ToString("HH:mm") </p>

    <a asp-area="" asp-controller="Home" asp-action="events" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            Events
        </h1>
    </a>

    <a asp-area="" asp-controller="Home" asp-action="venues" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            Venues
        </h1>
    </a>

    <a asp-area="" asp-controller="Home" asp-action="catering" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            Catering
        </h1>
    </a>

</div>