@using System
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The time is @DateTime.Now.ToString("HH:mm") </p>
</div>

<div>
    <h3>Order Viewer:</h3>
    <form action="/Orders" method="GET">
        <input type="text"/>
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <h3>Food Items:</h3>
    <form action="/FoodItems" method="GET">
        <button type="submit">View List</button>
    </form>
</div>

<div>
    <h3>Guests:</h3>
    <form action="/Guests" method="GET">
        <button type="submit">View List</button>
    </form>
</div>