@using System
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-area="" asp-controller="Home" asp-action="events" role="button" class="btn btn-primary btn-lg btn-block" style="color: black; background-color: transparent">
        <h1>
            Events
        </h1>
    </a>

    <a asp-area="" asp-controller="Home" asp-action="venues" role="button" class="btn btn-primary btn-lg btn-block" style="color: black; background-color: transparent">
        <h1>
            Venues
        </h1>
    </a>

    <a asp-area="" asp-controller="Home" asp-action="catering" role="button" class="btn btn-primary btn-lg btn-block" style="color: black; background-color: transparent">
        <h1>
            Catering
        </h1>
    </a>

</div>