<div class="text-center">
    <h1>Venues</h1>

    <a asp-area="" asp-controller="FoodItems" asp-action="index" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            Food items
        </h1>
    </a>

    <a asp-area="" asp-controller="Menus" asp-action="index" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            View Menus
        </h1>
    </a>

    <a asp-area="" asp-controller="FoodOrders" asp-action="index" role="button" class="btn btn-primary btn-lg btn-block" style="background-color: transparent; border-style: solid;">
        <h1>
            Book Food Order
        </h1>
    </a>
</div>