@model IEnumerable<ThAmCo.Events.Data.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Assigned Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Event Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(((List<EventType>)ViewBag.EventTypes).FirstOrDefault(x => x.Id == item.EventTypeId)?.Title ?? "-- Unknown --")
                </td>
            </tr>
        }
    </tbody>
</table>
