@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference):
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueCode):
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueCode)
                </td>
            </tr>
        }
    </tbody>
</table>
